body {
    background-image: url(../../images/bACK\ gROUND\ 02.jpg);
}

.d3 {
    background-color: #EFECEC;
    background-blend-mode: lighten;
}

.gradient-form {
    height: 100vh;
}

.logo {
    width: 6.5rem !important;
}

.submit {
    background-color: #0C2D57;
    color: #EFECEC;
}